.head{
 margin: 0;
 padding: 0;
 font-family:"Courier New";
}
.nav{
 background-color:#595959;
 color:#ffffff;
 list-style: none;
 text-align: center;
 padding: 20px 0 20px 0;
}
.nav > li{
 display: inline-block;
 padding-right: 50px;
}
.nav > li > a{
 text-decoration:none;
 color:#ffffff;
 font-family: "Courier New";
}
.nav > li > a:hover{
 color:#c1c1c1
}
#bannerimage {
  width: 100%;
  background-image: url(https://cloud.netapp.com/hubfs/The-Middle-Ground-in-Cloud-banner_2%20%281%29.png?t=1511885032970);
  height: 105px;
}
#bannertext {
 font-family: Quicksand light;
 text-align: center;
 text-size: 800px;
 color: #oooooo;
 padding-top: 10px;
}
#image{
 padding-left: 450px;
  padding-bottom: 50px;
 padding-top: 25px;
}

body{
 background-color:#CED1D3;
}
.introparagraph{
    font-family: "Courier New";
    text-align: center;
    border: 1px solid black;
    border-radius: 10px;
    padding-top: 5px;
    padding-bottom: 5px;
    padding-left: 10
    padding-right: 10
    margin-bottom: 20px;
    margin-top: 20px;
    margin-left: 30px;
    width: 1350px;
    background-color: #F4E8C1;
   
}
.transitionparagraph{
    font-family: "Courier New";
    text-align: center;
    border: 1px solid black;
    border-radius: 10px;
    padding-top: 5px;
    padding-bottom: 0px;
    margin-bottom: 20px;
    margin-top: 20px;
    background-color:#69E6C2;
}
