.head{
 margin: 0;
 padding: 0;
 font-family:"Courier New";
}
.nav{
 background-color:#595959;
 color:#ffffff;
 list-style: none;
 text-align: center;
 padding: 20px 0 20px 0;
}
.nav > li{
 display: inline-block;
 padding-right: 50px;
}
.nav > li > a{
 text-decoration:none;
 color:#ffffff;
 font-family: "Courier New";
}
.nav > li > a:hover{
 color:#c1c1c1
}
#bannerimage {
  width: 100%;
  background-image: url(https://cloud.netapp.com/hubfs/The-Middle-Ground-in-Cloud-banner_2%20%281%29.png?t=1511885032970);
  height: 105px;
}
#bannertext {
 font-family: "Georgia";
 text-align: center;
 text-size: 400px;
 color: #oooooo;
 padding-top: 10px;
}
body{
 background-color:#CED1D3;
}
.introparagraph{
    text-align: center;
    font-family: Georgia;
    border: 1px solid black;
    border-radius: 10px;
    height: 200px;
    width: 1000px;
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 5px;
    padding-right: 5px;
    margin-top: 50px;
    margin-bottom: 60px;
    margin-left: 5px; 
    margin-right: 5px;
    background-color:#F4E8C1;
    display: inline-block;
}
.prosparagraph{
    text-align: center;
    font-family: Georgia;
    border: 1px solid black;
    border-radius: 10px;
    height: 700px;
    width: 400px;
    padding-top: 5px;
    padding-bottom: 10px;
    padding-left: 5px;
    margin-top: -20px;
    margin-left: 300px;
    margin-right: 45px;
    background-color:#C5F1E1;
    display: inline-block;
  
}
.consparagraph{
    text-align: center;
    font-family: Georgia;
    border: 1px solid black;
    border-radius: 10px;
    height: 700px;
    width: 400px;
    padding-top: 5px;
    padding-bottom: 10px;
    padding-left: 10px;
    padding-right: 10px;
    margin-top: -20px;
    background-color:#35C390;
    display: inline-block;
    position: absolute;
    top 0;
    right 0;
}
.outroparagraph{
    text-align: center;
    font-family: Georgia;
    border: 1px solid black;
    border-radius: 10px;
    height: 100px;
    width: 1000px;
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 5px;
    padding-right: 5px;
    margin-top: 50px;
    margin-bottom: 60px;
    margin-left: 5px; 
    margin-right: 5px;
    background-color:#69E6C2;
    display: inline-block;
